body{
    background-image: url(../imagens/fundo.jpg);
    background-size: 100%;
}
footer{
    position: absolute;
    bottom: 0px;
    left: 640px;
}
h2{
    color: rgb(18, 212, 164);
    text-align: center;
}
ol{
    color: rgb(18, 212, 164);
    list-style: none;
    text-align: center;
}
.voltar {
    color: rgb(18, 212, 164);
}
.conteudo{
    color: rgb(18, 212, 164);
}
.ft{
    position: absolute;
    width: 40%;
    height:40%;
    bottom: 100px;
}
.ft2{
    position: absolute;
    bottom: 100px;
    right: 0px;
    height: 265px;
    width: 500px;
}
